<div class="pcoded-inner-content">
</div>
  <!-- Main-body start -->
  <div class="main-body">
      <div class="page-wrapper">
          <!-- Page-body start -->
          <div class="page-body">
              <div class="row">
                  <!-- task, page, download counter  start -->
                  <div class="col-xl-3 col-md-6">
                      <div class="card">
                          <div class="card-block">
                              <div class="row align-items-center">
                                  <div class="col-8">
                                      <h4 class="text-c-purple">$30200</h4>
                                      <h6 class="text-muted m-b-0"></h6>
                                  </div>
                                  <div class="col-4 text-right">
                                      <i class="fa fa-bar-chart f-28"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="card-footer bg-c-purple">
                              <div class="row align-items-center">
                                  <div class="col-9">
                                      <p class="text-white m-b-0">% </p>
                                  </div>
                                  <div class="col-3 text-right">
                                      <i class="fa fa-line-chart text-white f-16"></i>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-md-6">
                      <div class="card">
                          <div class="card-block">
                              <div class="row align-items-center">
                                  <div class="col-8">
                                      <h4 class="text-c-green">290+</h4>
                                      <h6 class="text-muted m-b-0"></h6>
                                  </div>
                                  <div class="col-4 text-right">
                                      <i class="fa fa-file-text-o f-28"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="card-footer bg-c-green">
                              <div class="row align-items-center">
                                  <div class="col-9">
                                      <p class="text-white m-b-0">% </p>
                                  </div>
                                  <div class="col-3 text-right">
                                      <i class="fa fa-line-chart text-white f-16"></i>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-md-6">
                      <div class="card">
                          <div class="card-block">
                              <div class="row align-items-center">
                                  <div class="col-8">
                                      <h4 class="text-c-red">145</h4>
                                      <h6 class="text-muted m-b-0"></h6>
                                  </div>
                                  <div class="col-4 text-right">
                                      <i class="fa fa-calendar-check-o f-28"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="card-footer bg-c-red">
                              <div class="row align-items-center">
                                  <div class="col-9">
                                      <p class="text-white m-b-0">% </p>
                                  </div>
                                  <div class="col-3 text-right">
                                      <i class="fa fa-line-chart text-white f-16"></i>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-md-6">
                      <div class="card">
                          <div class="card-block">
                              <div class="row align-items-center">
                                  <div class="col-8">
                                      <h4 class="text-c-blue">500</h4>
                                      <h6 class="text-muted m-b-0"></h6>
                                  </div>
                                  <div class="col-4 text-right">
                                      <i class="fa fa-hand-o-down f-28"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="card-footer bg-c-blue">
                              <div class="row align-items-center">
                                  <div class="col-9">
                                      <p class="text-white m-b-0">% </p>
                                  </div>
                                  <div class="col-3 text-right">
                                      <i class="fa fa-line-chart text-white f-16"></i>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="col-xl-8 col-md-12">
                  <div class="card">
                      <div class="card-header">
                          <h5>Analytics</h5>
                          <span class="text-muted"><a target="_blank"></a></span>
                          <div class="card-header-right">
                              <ul class="list-unstyled card-option">
                                  <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                  <li><i class="fa fa-window-maximize full-card"></i></li>
                                  <li><i class="fa fa-minus minimize-card"></i></li>
                                  <li><i class="fa fa-refresh reload-card"></i></li>
                                  <li><i class="fa fa-trash close-card"></i></li>
                              </ul>
                          </div>
                      </div>
                      <div class="card-block">
                          <div id="sales-analytics" style="height: 400px;"></div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-12">
                  <div class="card">
                      <div class="card-block">
                          <div class="row">
                              <div class="col">
                                  <h4>$256.23</h4>
                                  <p class="text-muted">This Month</p>
                              </div>
                              <div class="col-auto">
                                  <label class="label label-success">+20%</label>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-sm-8">
                                  <canvas id="this-month" style="height: 150px;"></canvas>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
      
                  