.body{
  background-color: rgb(201, 201, 201);
}


a{
  color: white;
  font-size: 13px;
  width: 200px;
  text-align: center;
  }
  .up{
    background-color: #29a2df;
    color: white;
    border-radius: 20px;
    border: none;
    width: 120px;
    margin: 20px;
    padding: 10px;
  }
  