

.sidenav-container {
  height: 100%;
  font-weight: 500;
  background-color: white;
}
.mat-icon{
  position: center;
  color: rgb(136, 133, 133);
  height: 20px;
  margin-left: 150px;
  cursor: pointer;
}

.sidenav {
  width: 200px;
  background-color: rgb(244, 247, 247);
}
.example-spacer {
  flex: 1 1 auto;
}
mat-nav-list a:hover{
  background-color: rgb(238, 242, 245);

}
.sidenav .mat-toolbar {
  background-color: white;
 
}
button{
  background-color:  rgb(113,204,252);
  color: white;
}

.mat-toolbar .mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.octicon-bell{
  height:16px;
  width: 16px; 
  margin-left: 850px;
  cursor: pointer;
  color: rgb(46, 45, 45);
}
.logo{
  background-color: white;
  text-align: right;
  width: 200px;
  height: 50px;
  margin: 15px; 
  margin-left: 20px;
  cursor: pointer;
}
.logo img{
  width: 10 4.72 px;
  height: 49.97px;

}

.text-center{
  margin-left: 30px;
}
.text-center .text{
  font-size: 15px;
  margin-top: 20px;
  color:rgb(113,204,252);
  font-family: "Open Sans";
  
}
.form-select{
  margin-top: 15px;
}
 
mat-list-item{
  color: red;
  background: red;
}

